--extra-index-url=https://download.pytorch.org/whl/cu128
torch
torchaudio
torchvision
fastapi
torchtune
torchao
huggingface_hub
bitsandbytes
pytest
sounddevice
sphn
aiohttp 
transformers
uvicorn
einops
websockets
numpy